@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .Toastify__toast.toast-transparent {
    @apply bg-transparent text-sm text-black shadow-none; 
    font-family: var(--font-geist-mono);
    border-radius: 0;
  }
}